.game {
    color: #776e65;
    background-color: #faf8ef;
    width: 100%;
    box-sizing: border-box;
    min-height: 450px;
    height: 100vh; /* might have issues - check later */
    font-family: ClearSansBold;
    padding: 0 16px;
}