.value {
    width: 100%;
    text-align: center;
}

/* font-size is relative to that of .tile in board css */
.value.one-k {
    font-size: 75%;
}

.value.two-k {
    font-size: 75%;
}

.value.four-k {
    font-size: 75%;
}

.value.eight-k {
    font-size: 75%;
}

.value.sixteen-k {
    font-size: 60%;
}

.value.thirty-two-k {
    font-size: 60%;
}

.value.sixty-five-k {
    font-size: 60%;
}

.value.one-thirty-one-k {
    font-size: 50%;
}
