<div class="row">
    <tile class="tile"></tile>
    <tile class="tile"></tile>
    <tile class="tile"></tile>
    <tile class="tile"></tile>    
</div>
<div class="row">
    <tile class="tile"></tile>
    <tile class="tile"></tile>
    <tile class="tile"></tile>
    <tile class="tile"></tile>    
</div>
<div class="row">
    <tile class="tile"></tile>
    <tile class="tile"></tile>
    <tile class="tile"></tile>
    <tile class="tile"></tile>    
</div>
<div class="row">
    <tile class="tile"></tile>
    <tile class="tile"></tile>
    <tile class="tile"></tile>
    <tile class="tile"></tile>    
</div>
